<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>네이버 : 회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/join.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{/js/findEmail.js}"></script>

</head>

<body>
<div class="container">
    <div class="inner">
        <h1 class="logo_naver">
        </h1>
        <div class="content">
            <form id="join_form" method="POST" class="form">
                <div class="form_content">
                    <div class="form_section">
                        <div class="form_list">
                            <div class="form_item email" id="divEmail">
                                <input type="email" id="email" name="email" placeholder="아이디"
                                       class="input" maxlength="100" onblur="checkEmailAvailability(this.value)"/>
                            </div>

                            <div style="padding-right: 10px;" class="form_item phone" id="divPhoneNo">
                                <input type="tel" id="phone" name="phone" placeholder="휴대전화번호" class="input"
                                       maxlength="13" oninput="hypenTel(this)" required/>
                                <div style="padding: 0px;" class="btn_submit_wrap" id="divBtnAuth">
                                    <button id="Certified" style="font-size: 15px; padding: 5px; width: 82px;" type="button" class="btn_submit" onclick="PhoneSend()">인증요청</button>
                                </div>
                            </div>
                            <div style="padding-right: 10px; display: none;" class="form_item phone" id="PhoneResult">
                                <input type="number" id="random" name="random" placeholder="인증번호 6자리를 입력하세요." class="input"
                                       maxlength="13" required/>
                                <div style="padding: 0px;" class="btn_submit_wrap" >
                                    <button id="ResultButton" style="font-size: 15px; padding: 5px; width: 82px;" type="button" class="btn_submit" onclick="randomResult()">인증</button>
                                </div>
                            </div>
                        </div>
                        <div class="error_text item_style" id="emailMsg" style="display: none"></div>
                        <div class="error_text item_style" id="pswd1Msg" style="display: none"></div>
                        <div class="error_text item_style" id="phoneMsg" style="display: none"></div>

                        <input hidden="hidden" type="number" id="randomNumber" value=""/>
                    <div class="btn_submit_wrap" id="divBtnJoin">
                        <button type="submit" class="btn_submit" id="btnJoin" disabled="true">아이디 찾기</button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
        const hypenTel = (target) => {
    target.value = target.value
        .replace(/[^0-9]/g, '')
        .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
}
</script>
</body>
