<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>네이버 : 회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/join.css}">
    <script type="text/javascript" th:src="@{/js/checkAvailability.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
<div class="container">
    <div class="inner">
        <h1 class="logo_naver">
        </h1>
        <div class="content">
            <form id="join_form" method="POST" class="form">
                <div class="form_content">
                    <div class="form_section">
                        <div class="form_list">
                            <div class="form_item email" id="divEmail">
                                <input type="email" id="email" name="email" placeholder="아이디"
                                       class="input" maxlength="100" onblur="checkEmailAvailability(this.value)"/>
                            </div>
                            <div class="form_item phone" id="divPhoneNo" style="padding-right: 10px;">
                                <input type="tel" id="phone" name="phone" placeholder="휴대전화번호" class="input"
                                       maxlength="16" />
                                <div style="padding: 0px;" class="btn_submit_wrap">
                                    <button style="font-size: 15px; padding: 5px; width: 82px;" type="button" class="btn_submit" onclick="PhoneSend()">인증요청</button>
                                </div>
                            </div>
                            <div class="form_item phone" id="ResultNo" style="padding-right: 10px; display: none;">
                                <input type="number" id="random" name="random" placeholder="인증번호 6자리를 입력하세요." class="input"
                                       maxlength="6" />
                                <div style="padding: 0px;" class="btn_submit_wrap" id="divBtnAuth">
                                    <button style="font-size: 15px; padding: 5px; width: 82px;" type="button" class="btn_submit" id="ResultButton" onclick="randomResult()">인증하기</button>
                                </div>
                            </div>
                        </div>
                        <div class="error_text item_style" id="emailMsg" style="display: none"></div>
                        <div class="error_text item_style" id="phoneMsg" style="display: none"></div>
                        <input hidden="hidden" type="number" id="randomNumber" value=""/>
                    <div class="btn_submit_wrap" id="divBtnJoin">
                        <button type="submit" class="btn_submit" id="btnJoin">아이디 찾기</button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" th:src="@{/js/join.js}"></script>
