<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<style>
  .container {
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Fixed a typo here, changed "100dvh" to "100vh" */
  }
  .content {
    padding: 3rem;
    font-size: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
  .content2 {
    padding: 3rem;
    font-size: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }

</style>
<body>
<div class="container">
    <div class="content">
        <span>가나다라</span>
    </div>
    <div>
    <a th:href="@{/login}"><button type="button">로그인</button></a>
    <button>아이디찾기</button>
    </div>

    <div class="content2">
        <button>아이디찾기</button>

    </div>
</div>
</body>
</html>
